@import 'variables';

// ARTICLE
.Article
{
    padding-left:10px;
    padding-right:10px;
    
    &-title
    {
        text-align: center;
    }
    &-content
    {
        text-align:justify;
    }
    &-category
    {
        &-link
        {
                color:$colorPeru;
                text-decoration:none;
                &:visited
                {
                    color:$colorPeru;
                }
                &:link
                {
                    text-decoration:none; 
                }
            
        }
    }
}