// IMPORTATION DES VARIABLES DU FICHIER _VARIABLES.SCSS
@import 'variables';

// ARTICLE
.Article
{
    padding-left:10px;
    padding-right:10px;

    &-box
    {
        text-align: center;
        &-img
        {
            height: 340px;          
        }
    }
    
    &-title
    {
        text-align: center;
    }
    &-content
    {
        text-align:justify;
    }
    &-category
    {
        &-link
        {
            color:$colorPeru;
            text-decoration:none;
            &:visited
            {
                color:$colorPeru;
            }
            &:link
            {
                text-decoration:none; 
            }
            
        }
    }
}

// CSS DE LA LISTE DE COMMENTAIRES ET DES COMMENTAIRES
.Comment
{
    &-list
    {

        
        padding:10px;
        display:flex;
        flex-direction:column;
        margin-top:0px;
        margin-bottom:20px;
        padding-left:20px;;
        padding-right:20px;
        box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.2);
        border-radius: 10px;

        &-link
        {
            text-decoration:none;
            border:solid $colorPeru 1px;
            padding:15px;
            color:white;
            background-color:$colorPeru;

            border-radius: 5px;
            &:visited
            {
                color:white;
            }
            &:hover
            {
                background-color:white;
                color:black;
                transition: 0.5s ease-in-out;
                opacity:1;
            }
        }
        &-category
        {
            padding-bottom:20px;

            &-link
            {
                text-decoration:none;
                &:visited
                {
                    color:$colorPeru
                }
                &:link
                {
                    text-decoration:none; 
                }
            }
        }
        &-content
        {
            text-align:justify;
        }   
    }
}