@charset "UTF-8";
.Header-container {
  background-image: url(../img/viktor-forgacs-DzpViKMZHe8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 340px;
  position: -webkit-sticky;
  position: sticky;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Header-container-box {
  background-color: black;
  opacity: 0.7;
  padding-bottom: 50px;
}
.Header-container-box-h1 {
  padding-top: 25px;
  padding-bottom: 5px;
  margin: 0px;
}
.Header-container-box-p {
  padding-bottom: 25px;
}
.Header-container-box-a {
  text-decoration: none;
  border: solid white 1px;
  padding: 15px;
  color: white;
  transition: 0.2s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.Header-container-box-a:visited {
  color: white;
}
.Header-container-box-a:hover {
  color: black;
  background-color: white;
  transition: 0.5s ease-in-out;
}
.Header-navbarbox {
  background-color: #0f0803;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 6px;
}
.Header-navbarbox-navbar {
  display: none;
  margin-top: -10px;
  font-size: 16px;
  margin-bottom: -10px;
}
.Header-navbarbox-navbar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.Header-navbarbox-navbar-list > li {
  margin-bottom: 3px;
}
.Header-navbarbox-navbar-list-a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease-in-out;
}
.Header-navbarbox-navbar-list-a:hover {
  color: peru;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.Header-navbarbox-navbar-list-a:active {
  color: peru;
}
.Header-navbarbox-burgerBox {
  cursor: pointer;
}
.Header-navbarbox-burgerBox-burger {
  text-decoration: none;
  color: white;
  font-size: 22px;
  transition: 0.2s ease-in-out;
}
.Header-navbarbox-burgerBox-burger:hover {
  color: peru;
  transition: 0.5s ease-in-out;
}
.Header-navbarbox-burgerBox-burger:active {
  color: peru;
  transition: 0.5s ease-in-out;
}
.Header-navbarbox-burgerBox-cross {
  text-decoration: none;
  color: white;
  display: none;
  font-size: 19px;
  transition: 0.2s ease-in-out;
}
.Header-navbarbox-burgerBox-cross:hover {
  color: peru;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.Header-navbarbox-burgerBox-cross:active {
  color: peru;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

/*
  Crédits : https://codepen.io/braedencraig/pen/dBVKzO
*/
/* ---------- Fog ---------- */
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 340px;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_moveme 27s linear infinite;
          animation: foglayer_moveme 27s linear infinite;
}

#foglayer_02 {
  -webkit-animation: foglayer_moveme 19s linear infinite;
          animation: foglayer_moveme 19s linear infinite;
}

#foglayer_03 {
  -webkit-animation: foglayer_moveme 17s linear infinite;
          animation: foglayer_moveme 17s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url(../img/fog1.png) center center/cover no-repeat transparent;
}

#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  background: url(../img/fog2.png) center center/cover no-repeat transparent;
}

@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@media screen and (min-width: 880px) {
  .Header-navbarbox-burgerBox {
    display: none;
  }
  .Header-navbarbox-navbar {
    display: block;
  }
  .Header-navbarbox-navbar-list {
    justify-content: center;
    flex-direction: row;
  }
  .Header-navbarbox-navbar-list-a {
    margin-left: 5px;
    margin-right: 5px;
  }
}
@-webkit-keyframes glissementMenu {
  from {
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  to {
    opacity: 1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
}
@keyframes glissementMenu {
  from {
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  to {
    opacity: 1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
}/*# sourceMappingURL=header.css.map */