@import 'variables';

// HEADER // 
.Header
{
    // CONTAINER DU HEADER
    &-container
    {
        background-image: url(../img/viktor-forgacs-DzpViKMZHe8-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align:center;
        color:white;
        height: 340px;
        position:sticky;
        overflow-x:hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;
        // BOÎTE DE TITRE HUMA SCIENTIO
        &-box
        {
          background-color:black;
          opacity:0.7;
          padding-bottom:50px;
          &-h1
          {
            padding-top:25px;
            padding-bottom:5px;
            margin:0px;
          }

            &-p
            {
                padding-bottom:25px;
            }
            &-a
            {
                text-decoration:none;
                border:solid white 1px;
                padding:15px;
                color:white;
                transition: 0.2s ease-in-out;
                width:fit-content;
                &:visited
                {
                    color:white;
                }
                &:hover
                {
                    color:black;
                    background-color:white;
                    transition: 0.5s ease-in-out;
                }

            }

        }
    }
    // MENU DE NAVIGATION
    &-navbarbox
    {
      background-color:rgb(15, 8, 3);
        display:flex;
        flex-direction:column;
        text-align:center;
        width:100%;
        padding-top: 8px;
        padding-bottom:6px;

        &-navbar
        {
          display:none;

            &-list
            {
              list-style: none;
              display:flex;
              flex-direction:column;

              &-a
              {
                  text-decoration:none;
                  color:white;
                  transition: 0.2s ease-in-out;
                  &:hover
                  {
                      color:$colorPeru;
                      transition: 0.5s ease-in-out;
                      opacity:1;
                  }
                  &:active
                  {
                      color:$colorPeru
                  }
              }
            }
        }
        // BURGER
        &-burgerBox
        {
            cursor:pointer;
         
            &-burger
            {
                text-decoration:none;
                color:white;
                font-size: 22px;
                transition: 0.2s ease-in-out;
                &:hover
                {
                    color:$colorPeru;
                    transition: 0.5s ease-in-out;
                }
                &:active
                {
                    color:$colorPeru;
                    transition: 0.5s ease-in-out;
                }
                
            }
            &-cross
            {
                text-decoration:none;
                color:white;
                display:none;
                font-size: 19px;
                transition: 0.2s ease-in-out;
                &:hover
                {
                    color:$colorPeru;
                    transition: 0.5s ease-in-out;
                    opacity:1;
                }
                &:active
                {
                    color:$colorPeru;
                    transition: 0.5s ease-in-out;
                    opacity:1;
                }  
            }
        }
    }
}

// ANIMATION DU BROUILLARD DU HEADER
/*
  Crédits : https://codepen.io/braedencraig/pen/dBVKzO
*/
/* ---------- Fog ---------- */
// .fogwrapper 
// {
//   height: 100%;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
//   filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
// }
#foglayer_01, #foglayer_02, #foglayer_03
{
  height: 340px;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 
{
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 
{
  animation: foglayer_moveme 27s linear infinite;
}
#foglayer_02
{
  animation: foglayer_moveme 19s linear infinite;
}

#foglayer_03
{
  animation: foglayer_moveme 17s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 
{
  background: url(../img/fog1.png) center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02
{
  background: url(../img/fog2.png) center center/cover no-repeat transparent;
}

@keyframes foglayer_moveme 
{
  0% { left: 0; }
  100% { left: -100%; }
}

// POINT DE RUPTURE DU MEDIA QUERIES A 880 PX.
@media screen AND (min-width: 880px)
{
  .Header
  {
    &-navbarbox
    {
      &-burgerBox
      {
          display:none;
      }
      &-navbar
      {
        display:block;
        
        &-list
        {
          justify-content: center;
          flex-direction:row;

          &-a
          {
              margin-left:5px;
              margin-right:5px;
          }
        }
      }
    }
  }
}

@keyframes glissementMenu 
{
    from 
    {
      opacity:0;
      animation-duration: 2s;
      animation-direction: normal;
    }
  
    to 
    {
      opacity:1;
      animation-duration: 2s;
      animation-direction: normal;
    }
}