@charset "UTF-8";
.Header-container {
  background-image: url(../img/viktor-forgacs-DzpViKMZHe8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 340px;
  position: -webkit-sticky;
  position: sticky;
  overflow-x: hidden;
}

.Header-container-boxtitle {
  padding-top: 60px;
}

.Header-container-boxtitle-box {
  padding-top: 3px;
  background-color: black;
  opacity: 0.8;
  padding-bottom: 30px;
  height: 180px;
}

.Header-container-boxtitle-box-p {
  padding-bottom: 20px;
}

.Header-container-boxtitle-box-a {
  text-decoration: none;
  border: solid white 1px;
  padding: 15px;
  color: white;
}

.Header-container-boxtitle-box-a:visited {
  color: white;
}

.Header-container-boxtitle-box-a:hover {
  color: black;
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Header-container-boxtitle-box-a:link {
  color: white;
}

.Header-navbarbox {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 6px;
}

.Header-navbarbox-navbar {
  display: none;
  margin-top: -10px;
  font-size: 16px;
}

.Header-navbarbox-navbar-ul {
  background-color: black;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
}

.Header-navbarbox-navbar-ul > li {
  margin-bottom: 3px;
}

.Header-navbarbox-navbar-ul-a {
  text-decoration: none;
  color: white;
}

.Header-navbarbox-navbar-ul-a:hover {
  color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Header-navbarbox-navbar-ul-a:active {
  color: peru;
}

.Header-navbarbox-burgerOn {
  cursor: pointer;
}

.Header-navbarbox-burgerOn-burger {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.Header-navbarbox-burgerOn-burger:hover {
  color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Header-navbarbox-burgerOn-burger:active {
  color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Header-navbarbox-burgerOn-cross {
  text-decoration: none;
  color: white;
  display: none;
  font-size: 19px;
}

.Header-navbarbox-burgerOn-cross:hover {
  color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Header-navbarbox-burgerOn-cross:active {
  color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

/*
  Crédits : https://codepen.io/braedencraig/pen/dBVKzO
*/
/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}

#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 340px;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 25s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 25s linear infinite;
}

#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 17s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 17s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url(../img/fog1.png) center center/cover no-repeat transparent;
}

#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  background: url(../img/fog2.png) center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: .1;
  }
  22% {
    opacity: .5;
  }
  40% {
    opacity: .28;
  }
  58% {
    opacity: .4;
  }
  80% {
    opacity: .16;
  }
  100% {
    opacity: .1;
  }
}

@keyframes foglayer_01_opacity {
  0% {
    opacity: .1;
  }
  22% {
    opacity: .5;
  }
  40% {
    opacity: .28;
  }
  58% {
    opacity: .4;
  }
  80% {
    opacity: .16;
  }
  100% {
    opacity: .1;
  }
}

/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: .5;
  }
  25% {
    opacity: .2;
  }
  50% {
    opacity: .1;
  }
  80% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}

@keyframes foglayer_02_opacity {
  0% {
    opacity: .5;
  }
  25% {
    opacity: .2;
  }
  50% {
    opacity: .1;
  }
  80% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}

/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: .8;
  }
  27% {
    opacity: .2;
  }
  52% {
    opacity: .6;
  }
  68% {
    opacity: .3;
  }
  100% {
    opacity: .8;
  }
}

@keyframes foglayer_03_opacity {
  0% {
    opacity: .8;
  }
  27% {
    opacity: .2;
  }
  52% {
    opacity: .6;
  }
  68% {
    opacity: .3;
  }
  100% {
    opacity: .8;
  }
}

/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media screen and (min-width: 880px) {
  .Header-navbarbox {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .Header-navbarbox-burgerOn {
    display: none;
  }
  .Header-navbarbox-navbar {
    display: block;
  }
  .Header-navbarbox-navbar-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .Header-navbarbox-navbar-ul-a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@-webkit-keyframes glissementMenu {
  from {
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  to {
    opacity: 1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
}

@keyframes glissementMenu {
  from {
    opacity: 0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
  to {
    opacity: 1;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
  }
}
/*# sourceMappingURL=header.css.map */