.Body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #505050;
  width: 100% !important;
  height: 100% !important;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.Body-main, html-main {
  padding: 15px;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.Message {
  padding: 10px;
  margin: 0px;
  color: #f0f0f0;
  font-weight: 500;
}

.Success-message {
  background-color: #004200;
}

.Error-message {
  background-color: darkred;
}

.Query-message {
  background-color: peru;
}

.Title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.TitlePage {
  text-align: center;
}

.List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.List-link {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  max-width: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
}

.List-link:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.Link {
  margin-top: 50px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  max-width: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.Link:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.LinkA {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  max-width: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}

.LinkA:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.Home-img {
  width: 100%;
  height: 100%;
  border: solid black 1px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.Home-h2 {
  text-align: center;
}

.Form {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-name: glissement;
          animation-name: glissement;
}

.Form-title {
  text-align: center;
}

.Form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.Form-box-label {
  text-align: left;
  margin-bottom: 10px;
}

.Form-box-input {
  margin-bottom: 10px;
  padding: 5px;
}

.Form-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans';
  font-size: 15px;
  border: none;
  cursor: pointer;
  border: solid 1px peru;
  border-radius: 5px;
}

.Form-box-button:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.FormSearch-box {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.FormSearch-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  max-width: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px peru;
  border-radius: 5px;
  font-size: 16px;
}

.FormSearch-box-button:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.FormSearch-label {
  text-align: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.FormSearch-input {
  margin-bottom: 10px;
  padding: 10px;
}

.FormComment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.FormComment-box-buttonBox {
  text-align: end;
}

.FormComment-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  max-width: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px peru;
  border-radius: 5px;
}

.FormComment-box-button:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.FormComment-box-textarea {
  height: 100px;
  padding: 5px;
}

.FormComment-box-label {
  text-align: left;
  margin-bottom: 10px;
}

.FormArticle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.FormArticle-box-label {
  text-align: left;
}

.FormArticle-box-input {
  margin-bottom: 10px;
  padding: 5px;
}

.FormArticle-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  border: none;
  cursor: pointer;
  max-width: 200px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 1px peru;
  border-radius: 5px;
}

.FormArticle-box-button:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.FormArticle-box-textarea {
  height: 200px;
  padding: 5px;
}

.FormArticle-box-select {
  margin-top: 10px;
  padding: 5px;
  text-align: left;
}

.FormArticle-button {
  text-align: end;
  border-radius: 5px;
}

.FormArticle-button:hover {
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.FormArticleSelect {
  width: 200px;
}

.FormCategorySelect {
  width: auto;
}

.FormCategory-button {
  border-radius: 5px;
  text-align: center;
}

.container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 730px) {
  .Footer-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Footer-box-section2 {
    margin-right: 0px;
    margin-left: 20px;
  }
  .Footer-box-section2-left {
    padding-left: 40px;
    padding-right: 40px;
  }
  .Footer-box-section2-right {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 880px) {
  .Header-navbarbox {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .Header-navbarbox-burgerOn {
    display: none;
  }
  .Header-navbarbox-navbar {
    display: block;
  }
  .Header-navbarbox-navbar-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .Header-navbarbox-navbar-ul-a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .Home {
    text-align: center;
  }
  .Home-img {
    max-width: 850px;
  }
}

@-webkit-keyframes glissement {
  from {
    margin-left: 25%;
    width: 300%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes glissement {
  from {
    margin-left: 25%;
    width: 300%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */