.Body, html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #505050;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  -webkit-animation: fadeInFromNone 0.7s ease-out;
          animation: fadeInFromNone 0.7s ease-out;
  background-color: #fdfaf5;
}
.Body-main, html-main {
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.noArticle {
  padding-top: 10px;
  padding-bottom: 5px;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  display: none;
}

audio::-webkit-media-controls,
video::-webkit-media-controls {
  display: none;
}

textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.Message {
  padding: 10px;
  margin: 0px;
  color: #f0f0f0;
  font-weight: 500;
}

.Success-message {
  background-color: #004200;
  border-radius: 5px;
}

.Error-message {
  background-color: darkred;
  border-radius: 5px;
}

.Query-message {
  background-color: peru;
  border-radius: 5px;
}

#adminCategory {
  margin-left: 25px;
}

#adminArticles {
  margin-left: 25px;
}

.Title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.TitlePage {
  text-align: center;
}

.Comment-content {
  text-align: justify;
}

.List {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.List-link {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  max-width: auto;
  align-items: flex-end;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
}
.List-link:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.Link {
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  max-width: auto;
  align-items: flex-end;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}
.Link:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 250px;
}

.parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.btn-upload {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.LinkA {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  min-width: auto;
  max-width: 200px;
  align-items: flex-end;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}
.LinkA:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.LinkAForm {
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  align-items: flex-start;
  border: solid 1px peru;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  width: 250px;
}
.LinkAForm:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.Home {
  text-align: center;
}
.Home-video {
  width: 80%;
  height: 80%;
  border: solid peru 1px;
  filter: brightness(90%);
  margin-top: auto;
  margin-bottom: auto;
}
.Home-h2 {
  text-align: center;
}

.Homepage-section1 {
  text-align: justify;
}
.Homepage-section1-h3 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}
.Homepage-section2 {
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}
.Homepage-section2-h3 {
  text-align: center;
  margin-bottom: 10px;
}
.Homepage-section2-list-article {
  text-align: left;
  margin-bottom: 35px;
}
.Homepage-section2-list-article-category {
  padding-bottom: 5px;
}

.Form {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-name: glissement;
          animation-name: glissement;
}
.Form-title {
  text-align: center;
}
.Form-box {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.Form-box-label {
  text-align: left;
  margin-bottom: 10px;
}
.Form-box-input {
  margin-bottom: 10px;
  padding: 5px;
}
.Form-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border: solid 1px peru;
  border-radius: 5px;
}
.Form-box-button:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}

.searchTitle {
  margin-left: 10px;
  text-align: center;
}

.FormSearch {
  margin-left: 10px;
  margin-right: 10px;
}
.FormSearch-box {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: space-around;
  text-align: center;
}
.FormSearch-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  max-width: auto;
  align-items: flex-end;
  border: solid 1px peru;
  border-radius: 5px;
  font-size: 16px;
}
.FormSearch-box-button:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}
.FormSearch-label {
  text-align: left;
  margin-bottom: 30px;
}
.FormSearch-input {
  margin-bottom: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.FormComment {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.FormComment-box {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.FormComment-box-buttonBox {
  text-align: end;
}
.FormComment-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  max-width: auto;
  align-items: flex-end;
  border: solid 1px peru;
  border-radius: 5px;
}
.FormComment-box-button:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}
.FormComment-box-textarea {
  height: 100px;
  padding: 5px;
}
.FormComment-box-label {
  text-align: left;
  margin-bottom: 10px;
}

.FormMessage {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.FormMessage-box {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.FormMessage-box-select {
  margin-top: 10px;
  max-width: 200px;
}
.FormMessage-box-buttonBox {
  text-align: end;
}
.FormMessage-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  max-width: auto;
  align-items: flex-end;
  border: solid 1px peru;
  border-radius: 5px;
}
.FormMessage-box-button:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}
.FormMessage-box-textarea {
  height: 100px;
  padding: 5px;
}
.FormMessage-box-label {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.FormArticle-box {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.FormArticle-box-label {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 5px;
}
.FormArticle-box-input {
  margin-bottom: 10px;
  padding: 5px;
}
.FormArticle-box-button {
  margin-top: 10px;
  background-color: peru;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  max-width: 300px;
  align-items: flex-end;
  border: solid 1px peru;
  border-radius: 5px;
}
.FormArticle-box-button:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
  color: black;
}
.FormArticle-box-textarea {
  height: 200px;
  padding: 5px;
}
.FormArticle-box-select {
  margin-top: 10px;
  padding: 5px;
  text-align: left;
}
.FormArticle-button {
  text-align: end;
  border-radius: 5px;
}

.FormArticleSelect {
  width: 200px;
}

.FormCategorySelect {
  width: auto;
}

.FormCategory-button {
  border-radius: 5px;
  text-align: center;
}

.container {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.MyMessages {
  display: flex;
  flex-direction: row;
}

.ListMessagerie {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1100px) {
  .Home {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  .Home-video {
    text-align: center;
    max-width: 600px;
  }

  .Form-box {
    width: 300px;
  }

  .FormSearch-input {
    width: 400px;
  }
}
@media screen and (min-width: 1300px) {
  .Homepage {
    display: flex;
    flex-direction: row;
  }
  .Homepage-section1 {
    max-width: auto;
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .Homepage-section2 {
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 400px;
  }

  .Body-main {
    margin-left: 200px;
    margin-right: 200px;
  }
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
@-webkit-keyframes glissement {
  from {
    margin-left: 25%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}
@keyframes glissement {
  from {
    margin-left: 25%;
    width: 100%;
    opacity: 0;
  }
  to {
    margin-left: 0%;
    width: 100%;
    opacity: 1;
  }
}
@-webkit-keyframes glissementMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes glissementMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */