.Body, html {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #505050;
  width: 100% !important;
  height: 100% !important;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.Body-main, html-main {
  padding: 15px;
}

.Header-container {
  background-image: url(../img/viktor-forgacs-DzpViKMZHe8-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  height: 340px;
}

.Header-container-boxtitle {
  padding-top: 60px;
}

.Header-container-boxtitle-box {
  padding-top: 3px;
  background-color: black;
  opacity: 0.8;
  padding-bottom: 30px;
  height: 180px;
}

.Header-container-boxtitle-box-p {
  padding-bottom: 20px;
}

.Header-container-boxtitle-box-a {
  text-decoration: none;
  border: solid white 1px;
  padding: 15px;
  color: white;
}

.Header-container-boxtitle-box-a:visited {
  color: white;
}

.Header-container-boxtitle-box-a:hover {
  color: black;
  background-color: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Header-container-boxtitle-box-a:link {
  color: #838383;
}

.Header-navbarbox {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.Header-navbarbox-navbar {
  display: none;
  margin-top: -10px;
}

.Header-navbarbox-navbar-ul {
  background-color: black;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px;
}

.Header-navbarbox-navbar-ul-a {
  text-decoration: none;
  color: white;
}

.Header-navbarbox-navbar-ul-a:hover {
  color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Header-navbarbox-navbar-ul-a:active {
  color: peru;
}

.Header-navbarbox-burgerOn {
  cursor: pointer;
}

.Header-navbarbox-burgerOn-burger {
  text-decoration: none;
  color: white;
}

.Header-navbarbox-burgerOn-cross {
  text-decoration: none;
  color: white;
  display: none;
}

.Forum-h1 {
  text-align: center;
}

.Forum-list {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Forum-list-article {
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 5px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.Forum-list-article-link {
  text-decoration: none;
  text-decoration: none;
  padding: 15px;
  color: black;
  color: peru;
  border-radius: 10px;
}

.Forum-list-article-link:visited {
  color: black;
}

.Forum-list-article-link:hover {
  color: white;
  background-color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Forum-list-article-category {
  padding-bottom: 20px;
}

.Forum-list-article-category-link {
  text-decoration: none;
}

.Forum-list-article-category-link:visited {
  color: peru;
}

.Forum-list-article-category-link:link {
  text-decoration: none;
}

.Forum-list-article-content {
  text-align: justify;
}

.Article {
  padding-left: 10px;
  padding-right: 10px;
}

.Article-title {
  text-align: center;
}

.Article-content {
  text-align: justify;
}

.Article-category-link {
  color: peru;
  text-decoration: none;
}

.Article-category-link:visited {
  color: peru;
}

.Article-category-link:link {
  text-decoration: none;
}

.Home-img {
  width: 100%;
  height: 100%;
  border: solid black 1px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.Home-h2 {
  text-align: center;
}

.Footer {
  background-color: black;
}

.Footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 20px;
}

.Footer-box-copyrights {
  padding-bottom: 15px;
  text-align: center;
}

.Footer-box-section1-title {
  font-weight: normal;
  color: white;
}

.Footer-box-section1-informations {
  text-align: justify;
}

.Footer-box-hr {
  margin-left: 40px;
  margin-right: 40px;
}

.Footer-box-section2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.Footer-box-section2-link {
  text-decoration: none;
  color: #505050;
}

.Footer-box-section2-link:hover {
  color: peru;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.Footer-box-section2-left {
  padding-left: 20%;
}

.Footer-box-section2-right {
  padding-right: 20%;
}

.Footer-box-section2-title {
  font-weight: normal;
  color: white;
}

.Footer-box-section2-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 730px) {
  .Footer-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .Footer-box-section2 {
    margin-right: 0px;
    margin-left: 20px;
  }
  .Footer-box-section2-left {
    padding-left: 40px;
    padding-right: 40px;
  }
  .Footer-box-section2-right {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 880px) {
  .Header-navbarbox {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .Header-navbarbox-burgerOn {
    display: none;
  }
  .Header-navbarbox-navbar {
    display: block;
  }
  .Header-navbarbox-navbar-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .Header-navbarbox-navbar-ul-a {
    margin-left: 5px;
    margin-right: 5px;
  }
  .Home {
    text-align: center;
  }
  .Home-img {
    max-width: 850px;
  }
}
/*# sourceMappingURL=style.css.map */