.Body, html
{
    font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: rgb(80, 80, 80);
	width: 100% !important;
	height: 100% !important;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    &-main
    {
        padding: 15px;
    }
}

// HEADER // 

.Header
{
    &-container
    {
        background-image: url(../img/viktor-forgacs-DzpViKMZHe8-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align:center;
        color:white;
        height: 340px;

        
        &-boxtitle
        {
            padding-top: 60px;

            &-box
            {

                padding-top: 3px;
                background-color:black;
                opacity:0.8;
                padding-bottom:30px;
                height: 180px;

                &-p
                {
                    padding-bottom:20px;
                }
                &-a
                {
                    text-decoration:none;
                    border:solid white 1px;
                    padding:15px;
                    color:white;
                    &:visited
                    {
                        color:white;
                    }
                    &:hover
                    {
                        color:black;
                        background-color:white;
                        transition: 0.5s ease-in-out;
                        opacity:1;
                    }
                    &:link
                    {
                        color:rgb(131, 131, 131);
                    }

                }
            }
        }
    }
    &-navbarbox
    {
        background-color:black;
        display:flex;
        flex-direction:column;
        text-align:center;
        width:100%;

        &-navbar
        {
            display:none;
            margin-top: -10px;

            &-ul
            {
                background-color:black;
                list-style: none;
                display:flex;
                flex-direction:column;
                padding: 0px;
                &-a
                {
                    text-decoration:none;
                    color:white;
                    &:hover
                    {
                        color:peru;
                        transition: 0.5s ease-in-out;
                        opacity:1;
                    }
                    &:active
                    {
                        color:peru;
                    }
                }
            }
        }
        &-burgerOn
        {
            cursor:pointer;
            &-burger
            {
                text-decoration:none;
                color:white;
            }
            &-cross
            {
                text-decoration:none;
                color:white;
                display:none;
            }
        }
    }
}

// FORUM //
.Forum
{

    &-h1
    {
        text-align:center;
    }
    &-list

    {
        padding:10px;
        display:flex;
        flex-direction:column;
        &-article
        {
            // border:solid black 1px;
            padding-bottom:30px;
            margin-top:0px;
            margin-bottom:20px;
            padding-left:20px;;
            padding-right:20px;
            box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.2);
            border-radius: 10px;

            &-link
            {
                text-decoration:none;
                border:solid peru 1px;
                padding:15px;
                color:black;
                color:peru;
                border-radius: 10px;
                &:visited
                {
                    color:black;
                }
                &:hover
                {
                    color:white;
                    background-color:peru;
                    transition: 0.5s ease-in-out;
                    opacity:1;
                }
            }
            &-category
            {
                padding-bottom:20px;

                &-link
                {
                    text-decoration:none;
                    &:visited
                    {
                        color:peru;
                    }
                    &:link
                    {
                        text-decoration:none; 
                    }
                }
            }
            &-content
            {
                text-align:justify;
            }
        }
    }
}

// ARTICLE
.Article
{
    padding-left:10px;
    padding-right:10px;
    
    &-title
    {
        text-align: center;
    }
    &-content
    {
        text-align:justify;
    }
    &-category
    {
        &-link
        {
            color:peru;
                text-decoration:none;
                &:visited
                {
                    color:peru;
                }
                &:link
                {
                    text-decoration:none; 
                }
            
        }
    }
}

// HOME
.Home
{
    &-img
    {
        width: 100%;
        height:100%;
        border:solid black 1px;
        filter:brightness(80%);
    }
    &-h2
    {
        text-align: center;
    }
}

// FOOTER 
.Footer
{
    background-color:black;
    &-box
    {
        display:flex;
        flex-direction:column;
        padding-left:40px;
        padding-right:40px;
        margin-bottom:20px;
        &-copyrights
        {
            padding-bottom:15px;
            text-align: center;
        }        
        &-section1 
        {
            &-title
            {
                font-weight: normal;
                color:white;
            }
            &-informations
            {
                text-align: justify;
            }
        }

        &-hr
        {
            margin-left:40px;
            margin-right:40px;
        }
        &-section2
        {
            justify-content: space-between;
            display:flex;
            flex-direction:row;
            // margin-left:10%;
            // margin-right:10%;
            &-link
            {
                text-decoration: none;
                color:rgb(80, 80, 80);
                &:hover
                {
                    
                    color:peru;
                    transition: 0.5s ease-in-out;
                    opacity:1;
                }
   
            }
            &-left
            {
                padding-left:20%;

    
            }
            &-right
            {

                padding-right: 20%;
            }
            text-align: center;
            &-title
            {
                font-weight: normal;
                color:white;
            }
            &-left 
            {
                display:flex;
                flex-direction:column;
            }
        }
    }
}

@media screen AND (min-width: 730px)
{
    .Footer
    {
        &-box
        {
            flex-direction:row;
            &-section2 
            {
                margin-right:0px;

                margin-left:20px;
                &-left
                {
                    padding-left: 40px; 
                    padding-right: 40px;
                }
                &-right
                {
                    padding-left: 20px; 
                    padding-right: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}

@media screen AND (min-width: 880px)
{
    .Header
    {
        &-navbarbox
        {
            margin-top:0px;
            margin-bottom:0px;

            &-burgerOn
            {
                display:none;
            }
            &-navbar
            {
                
                display:block;
               
                &-ul
                {
                    justify-content: center;
                    flex-direction:row;
                    margin-top:20px;
                    margin-bottom:10px;


                    &-a
                    {
                        margin-left:5px;
                        margin-right:5px;
                    }
                }
            }
        }
    }

    .Home
    {
        text-align: center;
        &-img
        {
            max-width:850px;
        }
    }
}