.Body, html
{
    font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: rgb(80, 80, 80);
	width: 100% !important;
	height: 100% !important;
    margin:0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

    &-main
    {
        padding: 5px;
    }
}

// HEADER //

.Header
{
    &-container
    {
        background-image: url(../img/viktor-forgacs-DzpViKMZHe8-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align:center;
        color:white;
        height: 340px;

        
        &-boxtitle
        {
            padding-top: 60px;

            &-box
            {

                padding-top: 3px;
                background-color:black;
                opacity:0.8;
                padding-bottom:30px;
                height: 180px;

                &-p
                {
                    padding-bottom:20px;
                }
                &-a
                {
                    text-decoration:none;
                    border:solid white 1px;
                    padding:15px;
                    color:white;
                    &:visited
                    {
                        color:white;
                    }
                    &:hover
                    {
                        color:black;
                        background-color:white;
                        transition: 0.5s ease-in-out;
                        opacity:1;
                    }
                    &:link
                    {
                        color:rgb(131, 131, 131);
                    }
                }
            }
        }
    }
    &-navbarbox
    {
        background-color:black;
        display:flex;
        flex-direction:column;
        text-align:center;
        width:100%;

        &-navbar
        {
            display:none;
            margin-top: -10px;

            &-ul
            {
                background-color:black;
                list-style: none;
                display:flex;
                flex-direction:column;
                padding: 0px;
                &-a
                {
                    text-decoration:none;
                    color:white;
                }
            }
        }
        &-burgerOn
        {
            cursor:pointer;
            &-burger
            {
                text-decoration:none;
                color:white;
            }
            &-cross
            {
                text-decoration:none;
                color:white;
                display:none;
            }
        }
    }
}

// FORUM //
.Forum
{

    &-h1
    {
        text-align:center;
    }
    &-list

    {
        padding:10px;
        display:flex;
        flex-direction:column;
        &-article
        {
            border:solid black 1px;
            padding-bottom:30px;
            margin-top:0px;
            margin-bottom:20px;
            padding-left:20px;;
            padding-right:20px;

            &-link
            {
                text-decoration:none;
                text-decoration:none;
                border:solid black 1px;
                padding:15px;
                color:black;
                &:visited
                {
                    color:black;
                }
                &:hover
                {
                    color:white;
                    background-color:peru;
                    transition: 0.5s ease-in-out;
                    opacity:1;
                }
            }
            &-category
            {
                padding-bottom:20px;

                &-link
                {
                    text-decoration:none;
                    &:visited
                    {
                        color:peru;
                    }
                    &:link
                    {
                        text-decoration:none; 
                    }
                }
            }
            &-content
            {
                text-align:justify;
            }
        }
    }
}

.Article
{
    padding-left:10px;
    padding-right:10px;
    
    &-title
    {
        text-align: center;
    }
    &-content
    {
        text-align:justify;
    }
    &-category
    {
        &-link
        {

                text-decoration:none;
                &:visited
                {
                    color:peru;
                }
                &:link
                {
                    text-decoration:none; 
                }
            
        }
    }
}