// body
// {
//     margin: 0px 0px 0px 0px;
//     padding: 0px 0px 0px 0px;
//     font-family: 'Open Sans', sans-serif;
//     background-color:white;
// }
// .Header
// {
//     text-align: center;
//     list-style-type: none;
//     color:black;
//     background-color: #f0f0f0;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: center;
//     &-nav 
//     {
//         display: none;
//         &.burgerOn
//         {
//             display:flex;
//             flex-direction: column;
//             text-align: center;
//             list-style-type: none;
//             font-family: 'Open Sans', sans-serif;
//             text-decoration: none;
//             color:black;
//         }  
//         &-a
//         {
//             list-style-type: none;
//             color:black;
//             text-decoration: none;
//             font-size: 30px;
//         }

//     }
//     &-h1
//     {
//         text-align: center;

//     }
//     &-img
//     {
//         align-items: center;
//         padding:10px;
//         text-align: center;  
//         width: 70px;
//         height: 70px;
//     }
//     .Menu
//     {
//         list-style-type: none;
//         text-decoration: none;

//         color:black;
//         &-li
//         {
//             list-style-type: none;
//             text-decoration: none;
//             color:white;;
//             &-a
//             {
//                 list-style-type: none;
//                 text-align: center;
//                 text-decoration: none;
//                 color:white;;
//             }
//         }
//     }
//     #icoBurger
//     {
//         display: block;
//         text-align:center;
//         align-items: center;
//     }
// }

// .Header > :nth-child(1) { order: 1; }
// .Header > :nth-child(2) { order: 3; width:100%;}
// .Header > :nth-child(3) 
// {
//     order: 2; 
//     margin-right: 10px; 
//     position: relative; 
//     z-index: 101;
// }
// .Header > :nth-child(4) {
//     padding: 0;
//     margin: 0;
//     position: absolute;
//     width: 100%;
//     min-height: 100%;
//     z-index: 100;
//     top: 0;
//     background-color:rgb( 141, 141, 141);
//     opacity: 0.9;
//     color:white;
// }

// .Header > :nth-child(4) li
// {
//     width: 100%;
//     min-height: 30px;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     padding-left: 25px;
//     border-bottom: 1px solid black;
//     flex-wrap: wrap;
//     text-align: left;
//     color:white;
// }

// .Header > :nth-child(4) > li > :nth-child(1)
// {
//     display: inline-block;
//     width: 60%;
//     color:white;
// }

// .Header > :nth-child(4) > li > .mblDeplier
// {
//     display: inline-block;
//     width: 29%;
//     color:white;
// }

// .Header > :nth-child(4) li > ul
// {
//     padding: 0;
//     width: 100%;
//     display: none;
// }

// .Accueil
// {
//     font-family: 'Open Sans', sans-serif;
//     padding-left: 10px;
//     padding-right:10px;
//     &-img
//     {
//         position:static;
//         width:100%;
//         height:100%;
//         text-align: center;
//     }
//     &-h2
//     {
//         font-family: 'Open Sans', sans-serif;
//     }
// }


// // FOOTER //
// .Footer
// {
//     &-colonne1
//     {
//         background: #d1d1d1;
//         font-family: 'Open Sans', sans-serif;
//         display: flex;
//         flex-direction:column;
//         text-align:center;
//         align-items: center;
//         &-img
//         {
//             padding: 5px;
//             width: 70px;
//             height: 70px;
//         }
//         &-h3
//         {
    
//         }
//     }
//     &-colonne2
//     {
//         background: #d1d1d1;
//         font-family: 'Open Sans', sans-serif;
//         display: flex;
//         flex-direction:column;
//         text-align:center;
//         align-items: center;
//     }
//     &-colonne3
//     {
//         background:#d1d1d1;
//         font-family: 'Open Sans', sans-serif;
//         display: flex;
//         flex-direction:column;
//         text-align:center;
//         align-items: center;
//     }
//     &-colonne4
//     {
//         background: #a6a6a6;
//         font-family: 'Open Sans', sans-serif;
//         display: flex;
//         flex-direction:column;
//         text-align:center;
//         align-items: center;
//     }

// }

// // ARTICLE // 
// .Article 
// {
//     border: 1px solid black;
//     border-radius: 20px 20px 20px 20px;
//     padding: 10px;
//     margin: 10px;
//     &-h3 
//     {
//         font-family: 'Open Sans', sans-serif;
//     }
//     &-date
//     {
//         font-family: 'Open Sans', sans-serif;
//     }
//     &-contenu
//     {
//         font-family: 'Open Sans', sans-serif;
//     }
// }

// // FORUM // 
// .Forum-h2
// {
//     font-family: 'Open Sans', sans-serif;
//     text-align:center;
// }

// .ListeArticles
// {
    
//     &-ul
//     {
//         font-family: 'Open Sans', sans-serif;

//     }
//     &-li
//     {
//         font-family: 'Open Sans', sans-serif;
        
//         border: 1px solid black;
//         border-radius: 20px 20px 20px 20px;
//         box-shadow: 2px 2px 2px;
//         padding: 10px;
//         margin: 10px;
//         list-style-type: none;
//     }
//     &-h2
//     {
//         text-align: center;
//     }
//     &-h3 
//     {
//         font-family: 'Open Sans', sans-serif;
//     }
//     &-date 
//     {
//         font-family: 'Open Sans', sans-serif;
//     }
//     &-contenu
//     {
//         font-family: 'Open Sans', sans-serif;
//     }
//     &-suite
//     {
//         font-family: 'Open Sans', sans-serif;
//         color: black;
//     }
// }

// // CATEGORIES //

// .ListeCategories
// {
//     text-decoration: none;
//     color:white;
//     &-ul
//     {
//         text-decoration: none;
//         color:bwhite;
//         list-style-type: none;
//     }
//     &-li 
//     {
//         text-decoration: none;
//         color:white;
//         font-family: 'Open Sans', sans-serif;
//         font-size:20px;
//         &-a
//         {
//             text-decoration: none;
//             color:white;
//             font-family: 'Open Sans', sans-serif;
//         }
//     }
// }

// .mblDeplier
// {
//     font-size: 30px;
// }

//     @media screen AND (min-width:1150px)
// {
//     // HEADER //
//     .Header
//     {
//         padding: 0 auto;
//         margin: 0 auto;
//         display: flex;
//         flex-wrap: nowrap;
//         position:relative;
//         #icoBurger
//         {
//             display: none;
//         }

//         &-h1
//         {
//             font-family: 'Open Sans', sans-serif  
//         }
//         &-nav
//         {
//             display:flex;
//             list-style-type: none;
//             font-family: 'Open Sans', sans-serif;
//             text-decoration: none;
//             color:black;
//             margin-top: 23px;
//             position:relative;
//             &-a
//             {
//                 display:flex;
//                 text-decoration: none;
//                 color:black;
//                 padding: 10px;
//                 font-family: 'Open Sans', sans-serif;
//                 font-size: 15px;
                
//             }
//             &-li

//             {
                
//             }
//         }
//     }
//     .Menu
//     {
//         list-style-type: none;
//         text-decoration: none;
//         color:black;
//         background-color:white;
//         &-li
//         {
//             list-style-type: none;
//             text-decoration: none;
//             color:black;
            
//             &-a
//             {
//                 list-style-type: none;
//                 text-align: center;
//                 text-decoration: none;
//                 color:black;
//             }
//         }
//     }

//     #icoBurger
//     {
//         display: none;
//         text-align:center;
//         align-items: center;
//     }
//     #icoCroix
//     {
//         display:none;
//         text-align: center;
//         align-items: center;
//     }

//     #menu
//     {
//         display: flex;
//     }
//     ul.Header-nav li:hover ul
//     {
//         display: block;
//         position:absolute;
//         background-color: white;
//         padding: 10px;
//         box-shadow: 2px 2px 2px;
//         border-radius: 10px 10px 10px 10px;
//         box-sizing: border-box;
//         border: solid black 1px;
//         color:black;
//         padding-top: 300px;
//         margin-right: 300px;
//         width: auto;
//         height: auto;
//     }
//     .mblDeplier
//     {
//         display: none;
//         font-size: 15px;
//     }
//     .Header > :nth-child(4) 
//     {
//         position:relative;
//         color:black;
//     }

//     .Header > :nth-child(1) {order:1;}
//     .Header > :nth-child(2) {order:2;}
//     .Header > :nth-child(3) {order:3;}
//     .Header > :nth-child(4) {order:4;}

//     .Header > :nth-child(4) li
//     {
//         flex-wrap:nowrap;
//         text-align:center;
//         color:black;
//     }
//     .ListeCategories
//     {
//         text-decoration: none;
//         color:black;
//         &-ul
//         {
//             text-decoration: none;
//             color:black;
//             list-style-type: none;
//         }
//         &-li 
//         {
//             text-decoration: none;
//             color:black;
//             font-family: 'Open Sans', sans-serif;
//             &-a
//             {
//                 text-decoration: none;
//                 color:black;
//                 font-family: 'Open Sans', sans-serif;
//                 font-size: 15px;
//             }
//         }
//     }
//     .Header .Menu-li-a 
//     {
//         list-style-type: none;
//         text-align: center;
//         text-decoration: none;
//         color: black;
//     }
//     .Accueil
//     {
//         display:flex;
//         flex-direction:row;
//         &-img
//         {
//             text-align:center;
//             max-width: 900px;
//             display: block;
//             margin-left: auto;
//             margin-right: auto;
//         }
        
//     }
//     .ListeArticles
//     {
        
//         &-li
//         {
//             height: 170px;
//         }
//     }
// }

body
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Open Sans', sans-serif;
    background-color:white;
}

// MENU //
.Header
{
    text-align:center;

    &-nav
    {
        display:flex;
        flex-direction:column;
        align-items: center;

        &-a
        {
            text-decoration:none;
            color:black;
        }
        &-ul
        {
            list-style: none;
            justify-content: center;

            &-li
            {
                &-a
                {
                    color:black;
                    text-decoration:none;
                }
            }
        }
    }
    &-img
    {
        width:150px;

    }
}


// FOOTER //
.Footer
{
    &-colonne1
    {
        background: #d1d1d1;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction:column;
        text-align:center;
        align-items: center;
        &-img
        {
            padding: 5px;
            width: 70px;
            height: 70px;
        }
    }
    &-colonne2
    {
        background: #d1d1d1;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction:column;
        text-align:center;
        align-items: center;
    }
    &-colonne3
    {
        background:#d1d1d1;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction:column;
        text-align:center;
        align-items: center;
    }
    &-colonne4
    {
        background: #a6a6a6;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction:column;
        text-align:center;
        align-items: center;
    }

}

// HOME //
.Accueil
{
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right:10px;

    &-box
    {

        text-align: center;
        
        &-img
        {
            position:static;
            width:100%;
            height:100%;
            text-align: center;
            justify-content: center;
            max-width: 800px;
        }
    }

    &-h2
    {
        font-family: 'Open Sans', sans-serif;
    }

    &-presentation
    {
        &-p
        {
            text-align: justify;
        }
    }
    &-aside
    {
        &-p
        {
            text-align: justify;
        }
    }
}

// ARTICLE // 
.Forum
{
    padding-left: 10px;
    padding-right:10px;
    &-box
    {
        padding-left: 10px;
        padding-right:10px;
        border: solid black 1px;

        &-infos
        {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom:10px;

            &-title
            {

            }
            &-resume
            {

            }
            &-pseudo
            {

            }
            &-date
            {

            }
            &-category
            {

            }
        }
    }
}

// CATEGORIE //
.Category
{

    padding-left: 10px;
    padding-right:10px;
    padding-bottom:10px;

    &-title
    {

    }
    &-box
    {
        border: solid black 1px;
        padding-bottom:10px;

        &-infos
        {

            padding-left: 10px;
            padding-right: 10px;
            padding-bottom:10px;

            &-h5
            {

            }
            &-resume
            {

            }
            &-pseudo
            {

            }
            &-date
            {

            }
            &-category
            {

            }
        }
    }
}