# RewriteEngine On
# RewriteBase /
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# Chargement de tous les fichiers (JS, CSS)
# RewriteRule ^(.*)\.(.*)$ /public/$1.$2 [L]

# Redirection vers le répertoire public et le fichier index.php
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^(.*)$ public/index.php [QSA]     